/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3CUBGEe.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3-UBGEe.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* math */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMawCUBGEe.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMaxKUBGEe.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3OUBGEe.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3CUBGEe.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3-UBGEe.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* math */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMawCUBGEe.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMaxKUBGEe.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3OUBGEe.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDvr9oS_a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDv39oS_a.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDvH9oS_a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDvD9oS_a.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDv79oQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etBT7TKx9.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etBP7TKx9.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etB_7TKx9.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etB77TKx9.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Google Sans Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansdisplay/v22/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etBD7TA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-rendering: geometricPrecision;
    line-height: 1.4;
    background-color: #fff;

    &.hidden {
        overflow: hidden;
        display: block;
    }
}

input,
textarea,
select,
button {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    text-rendering: geometricPrecision;
    border: 0;
    font-size: 1rem;
    background-color: transparent;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
a {
    text-decoration: unset;
    color: inherit;
    word-break: break-word;
}
a:active,
a:focus {
    outline: 0;
    color: inherit;
}
a:hover {
    outline: 0;
    color: inherit;
    color: #5449bc;
}

.link-decoration {
    &:hover {
        text-decoration: underline;
    }
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.mx-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}

p {
    line-height: 20px;
    word-break: break-word;
    + p {
        margin-top: 20px;
    }
}
/*===========================================================================*/
.font-arial {
    font-family: "Arial", sans-serif;
}
.font-google-san {
    font-family: "Google Sans Display";
}
.font-roboto {
    font-family: "Roboto";
}


/*===========================================================================*/

.w-980 {
    max-width: 980px;
    margin: 0 auto;
}
.w-1280 {
    max-width: 1280px;
    margin: 0 auto;
}
.w-1920 {
    max-width: 1920px;
    margin: 0 auto;
}
.w-full {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}
.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-120px {
    width: 120px;
}
.w-200px {
    width: 200px;
}
.w-300px {
    width: 300px;
}
.w-400px {
    width: 400px;
}
/*=================================================================*/
.d-3xl-none {
    display: none;
}
.d-3xl-block {
    display: block;
}
.d-3xl-flex {
    display: flex;
}
.d-3xl-grid {
    display: grid;
}
.d-3xl-inline {
    display: inline;
}
.d-3xl-inline-block {
    display: inline-block;
}
.d-3xl-inline-flex {
    display: inline-flex;
}
/*=================================================================*/
.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    background-color: #fff;
    color: #1e1e1e;
    outline: none;
    font-weight: normal;
    border: 1px solid #d9d9d9;

    &:hover {
        background-color: #e0dede;
        color: #1e1e1e;
    }
}

/*===========================================================================*/
.fs-10 {
    font-size: 0.625rem;
}
.fs-11 {
    font-size: 0.6875rem;
}
.fs-12 {
    font-size: 0.75rem;
}
.fs-13 {
    font-size: 0.8125rem;
}
.fs-14 {
    font-size: 0.875rem;
}
.fs-15 {
    font-size: 0.9375rem;
}
.fs-16 {
    font-size: 1rem;
}
.fs-17 {
    font-size: 1.0625rem;
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-20 {
    font-size: 1.25rem;
}
.fs-21 {
    font-size: 1.3125rem;
}
.fs-22 {
    font-size: 1.375rem;
}
.fs-23 {
    font-size: 1.4375rem;
}
.fs-24 {
    font-size: 1.5rem;
}
.fs-25 {
    font-size: 1.5625rem;
}
.fs-26 {
    font-size: 1.625rem;
}
.fs-28 {
    font-size: 1.75rem;
}
.fs-30 {
    font-size: 1.875rem;
}
.fs-32 {
    font-size: 2rem;
}
.fs-36 {
    font-size: 2.25rem;
}
.fs-40 {
    font-size: 2.5rem;
}
.fs-42 {
    font-size: 42px;
}
.fs-48 {
    font-size: 3rem;
}
.fs-60 {
    font-size: 3.75rem;
}

/*=================================================================*/
.ratio-5x7 {
    position: relative;
    display: block;
    padding-bottom: 140%;
}
.ratio-6x7 {
    position: relative;
    display: block;
    padding-bottom: 115%;
}
.ratio-1x1,
.image-wrapper-full {
    position: relative;
    display: block;
    padding-bottom: 100%;
}
.ratio-7x6 {
    position: relative;
    display: block;
    padding-bottom: 86.85%;
}
.ratio-4x5 {
    position: relative;
    display: block;
    padding-bottom: 80%;
}
.ratio-4x3-1 {
    position: relative;
    display: block;
    padding-bottom: 76.92%;
}
.ratio-4x3 {
    position: relative;
    display: block;
    padding-bottom: 75%;
}
.ratio-13x9 {
    position: relative;
    display: block;
    padding-bottom: 69%;
}
.ratio-4x6 {
    position: relative;
    display: block;
    padding-bottom: 67%;
}
.ratio-15x9 {
    position: relative;
    display: block;
    padding-bottom: 60%;
}
.ratio-16x9,
.image-wrapper {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
}
.ratio-17x9 {
    position: relative;
    display: block;
    padding-bottom: 52.94%;
}
.ratio-21x8 {
    position: relative;
    display: block;
    padding-bottom: 49%;
}
.ratio-21x9 {
    position: relative;
    display: block;
    padding-bottom: 42.8571428571%;
}

.ratio-2x12 {
    position: relative;
    display: block;
    padding-bottom: 16.67%;
}

.ratio-5x7 img,
.ratio-6x7 img,
.ratio-7x6 img,
.ratio-21x8 img,
.ratio-4x3-1 img,
.ratio-4x3 img,
.ratio-13x9 img,
.ratio-4x5 img,
.ratio-4x6 img,
.ratio-1x1 img,
.ratio-15x9 img,
.ratio-16x9 img,
.ratio-17x9 img,
.ratio-21x9 img,
.ratio-2x12 img,
.image-wrapper img,
.image-wrapper-full img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*=================================================================*/
.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}

.text-gray-22 {
    color: #222;
}
.text-gray-33 {
    color: #333;
}
.text-gray-45 {
    color: #454545;
}
.text-gray-55 {
    color: #555;
}
.text-gray-64 {
    color: #646464;
}
.text-gray-66 {
    color: #666;
}
.text-gray-4d {
    color: #4d4d4d;
}
.text-gray-84 {
    color: #848383;
}
.text-gray-9b {
    color: #9b9b9b;
}
.text-gray-b3 {
    color: #b3b3b3;
}
.text-gray-ce {
    color: #cecece;
}
.text-purple-544 {
    color: #5449bc;
}
.text-blue-334 {
    color: #334a61;
}
.text-blue-005 {
    color: #0055a9;
}


/*=================================================================*/
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-transparent {
    background-color: transparent;
}
.bg-gray-f1 {
    background-color: #f1f1f1;
}
.bg-gray-f2 {
    background-color: #f2f2f2;
}
.bg-gray-f5 {
    background-color: #f5f5f5;
}
.bg-gray-22 {
    background-color: #222;
}
.bg-gray-43 {
    background-color: #434343;
}
.bg-purple-544 {
    background-color: #544abc;
}
.bg-purple-624 {
    background-color: #624bdc73;
}
.bg-purple-4a {
    background-color: #4a3996;
}
.bg-blue-005 {
    background-color: #0055a9;
}


/*=================================================================*/
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.fw-bold {
    font-weight: bold;
}
/*=================================================================*/
.pt-4 {
    padding-top: 0.25rem;
}
.pb-4 {
    padding-bottom: 0.25rem;
}
.pl-4 {
    padding-left: 0.25rem;
}
.pr-4 {
    padding-right: 0.25rem;
}
.py-4 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-4 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.p-4 {
    padding: 0.25rem;
}
.mt-4 {
    margin-top: 0.25rem;
}
.mb-4 {
    margin-bottom: 0.25rem;
}
.ml-4 {
    margin-left: 0.25rem;
}
.mr-4 {
    margin-right: 0.25rem;
}
.my-4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.mx-4 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.m-4 {
    margin: 0.25rem;
}
/*=================================================================*/
.py-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}
.px-6 {
    padding-left: 6px;
    padding-right: 6px;
}
.p-6 {
    padding: 6px;
}
.m-6 {
    margin: 6px;
}
/*=================================================================*/
.pt-8 {
    padding-top: 0.5rem;
}
.pb-8 {
    padding-bottom: 0.5rem;
}
.pl-8 {
    padding-left: 0.5rem;
}
.pr-8 {
    padding-right: 0.5rem;
}
.py-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-8 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.p-8 {
    padding: 0.5rem;
}
.mt-8 {
    margin-top: 0.5rem;
}
.mb-8 {
    margin-bottom: 0.5rem;
}
.ml-8 {
    margin-left: 0.5rem;
}
.mr-8 {
    margin-right: 0.5rem;
}
.my-8 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mx-8 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.m-8 {
    margin: 0.5rem;
}
/*=================================================================*/
.pt-10 {
    padding-top: 0.625rem;
}
.pb-10 {
    padding-bottom: 0.625rem;
}
.pl-10 {
    padding-left: 0.625rem;
}
.pr-10 {
    padding-right: 0.625rem;
}
.py-10 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.px-10 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.p-10 {
    padding: 0.625rem;
}
.mt-10 {
    margin-top: 0.625rem;
}
.mb-10 {
    margin-bottom: 0.625rem;
}
.ml-10 {
    margin-left: 0.625rem;
}
.mr-10 {
    margin-right: 0.625rem;
}
.my-10 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
.mx-10 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
.m-10 {
    margin: 0.625rem;
}
/*=================================================================*/
.pt-12 {
    padding-top: 0.75rem;
}
.pb-12 {
    padding-bottom: 0.75rem;
}
.pl-12 {
    padding-left: 0.75rem;
}
.pr-12 {
    padding-right: 0.75rem;
}
.py-12 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.p-12 {
    padding: 0.75rem;
}
.mt-12 {
    margin-top: 0.75rem;
}
.mb-12 {
    margin-bottom: 0.75rem;
}
.ml-12 {
    margin-left: 0.75rem;
}
.mr-12 {
    margin-right: 0.75rem;
}
.my-12 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.mx-12 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.m-12 {
    margin: 0.75rem;
}
/*=================================================================*/
.pt-15 {
    padding-top: 0.9375rem;
}
.pb-15 {
    padding-bottom: 0.9375rem;
}
.pl-15 {
    padding-left: 0.9375rem;
}
.pr-15 {
    padding-right: 0.9375rem;
}
.py-15 {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}
.px-15 {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.p-15 {
    padding: 0.9375rem;
}
.mt-15 {
    margin-top: 0.9375rem;
}
.mb-15 {
    margin-bottom: 0.9375rem;
}
.ml-15 {
    margin-left: 0.9375rem;
}
.mr-15 {
    margin-right: 0.9375rem;
}
.my-15 {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}
.mx-15 {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}
.m-15 {
    margin: 0.9375rem;
}
/*=================================================================*/
.pt-16 {
    padding-top: 1rem;
}
.pb-16 {
    padding-bottom: 1rem;
}
.pl-16 {
    padding-left: 1rem;
}
.pr-16 {
    padding-right: 1rem;
}
.py-16 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-16 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-16 {
    padding: 1rem;
}
.mt-16 {
    margin-top: 1rem;
}
.mb-16 {
    margin-bottom: 1rem;
}
.ml-16 {
    margin-left: 1rem;
}
.mr-16 {
    margin-right: 1rem;
}
.my-16 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mx-16 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-16 {
    margin: 1rem;
}
/*=================================================================*/
.pt-20 {
    padding-top: 1.25rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.pl-20 {
    padding-left: 1.25rem;
}
.pr-20 {
    padding-right: 1.25rem;
}
.py-20 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.p-20 {
    padding: 1.25rem;
}
.mt-20 {
    margin-top: 1.25rem;
}
.mb-20 {
    margin-bottom: 1.25rem;
}
.ml-20 {
    margin-left: 1.25rem;
}
.mr-20 {
    margin-right: 1.25rem;
}
.my-20 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.mx-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.m-20 {
    margin: 1.25rem;
}
/*=================================================================*/
.pt-24 {
    padding-top: 1.5rem;
}
.pb-24 {
    padding-bottom: 1.5rem;
}
.pl-24 {
    padding-left: 1.5rem;
}
.pr-24 {
    padding-right: 1.5rem;
}
.py-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px-24 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.p-24 {
    padding: 1.5rem;
}
.mt-24 {
    margin-top: 1.5rem;
}
.mb-24 {
    margin-bottom: 1.5rem;
}
.ml-24 {
    margin-left: 1.5rem;
}
.mr-24 {
    margin-right: 1.5rem;
}
.my-24 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mx-24 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.m-24 {
    margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
    padding-top: 1.875rem;
}
.pb-30 {
    padding-bottom: 1.875rem;
}
.pl-30 {
    padding-left: 1.875rem;
}
.pr-30 {
    padding-right: 1.875rem;
}
.py-30 {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}
.px-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.p-30 {
    padding: 1.875rem;
}
.mt-30 {
    margin-top: 1.875rem;
}
.mb-30 {
    margin-bottom: 1.875rem;
}
.ml-30 {
    margin-left: 1.875rem;
}
.mr-30 {
    margin-right: 1.875rem;
}
.my-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.mx-30 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}
.m-30 {
    margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
    padding-top: 2.5rem;
}
.pb-40 {
    padding-bottom: 2.5rem;
}
.pl-40 {
    padding-left: 2.5rem;
}
.pr-40 {
    padding-right: 2.5rem;
}
.py-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.px-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.p-40 {
    padding: 2.5rem;
}
.mt-40 {
    margin-top: 2.5rem;
}
.mb-40 {
    margin-bottom: 2.5rem;
}
.ml-40 {
    margin-left: 2.5rem;
}
.mr-40 {
    margin-right: 2.5rem;
}
.my-40 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.mx-40 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.m-40 {
    margin: 2.5rem;
}

/*=================================================================*/
.mt-50 {
    margin-top: 50px;
}
/*=================================================================*/
.py-3xl-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.pt-3xl-60 {
    padding-top: 60px;
}
.pb-3xl-60 {
    padding-bottom: 60px;
}
/*=================================================================*/
.pt-3xl-80 {
    padding-top: 80px;
}
.pb-3xl-80 {
    padding-bottom: 80px;
}
.py-3xl-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.py-3xl-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
/*=================================================================*/

.py-3xl-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-3xl-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*=================================================================*/
.border-999 {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.border-full {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.border-5 {
    border-radius: 5px;
}
.border-8 {
    border-radius: 8px;
}
.border-12 {
    border-radius: 12px;
}
.border-16 {
    border-radius: 16px;
}
.border-22 {
    border-radius: 22px;
}

/*=================================================================*/
.fix-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*=================================================================*/
.lh-1 {
    line-height: 1;
}
.lh-24 {
    line-height: 24px;
}
.lh-130 {
    line-height: 130%;
}
.lh-140 {
    line-height: 140%;
}
.lh-150 {
    line-height: 150%;
}
.lh-160 {
    line-height: 160%;
}

/*=================================================================*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

/*=================================================================*/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

/*=================================================================*/
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-end {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-0 {
    flex-shrink: 0;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
/*=================================================================*/
.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.col-5 {
    grid-template-columns: repeat(5, 1fr);
}
/*=================================================================*/
.gap-8 {
    grid-gap: 0.5rem;
    gap: 0.5rem;
}
.gap-10 {
    grid-gap: 0.625rem;
    gap: 0.625rem;
}
.gap-12 {
    grid-gap: 12px;
    gap: 12px;
}
.gap-16 {
    grid-gap: 1rem;
    gap: 1rem;
}
.gap-20 {
    grid-gap: 1.25rem;
    gap: 1.25rem;
}
.gap-24 {
    grid-gap: 1.5rem;
    gap: 1.5rem;
}

.gap-30 {
    grid-gap: 1.875rem;
    gap: 1.875rem;
}
.gap-40 {
    grid-gap: 2.5rem;
    gap: 2.5rem;
}
/*=================================================================*/
.h-full {
    height: 100%;
}
.h-auto {
    height: auto;
}

/*=================================================================*/
.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.z-30 {
    z-index: 30;
}
.z-40 {
    z-index: 40;
}
.z-50 {
    z-index: 50;
}
.z-100 {
    z-index: 100;
}
/*=================================================================*/
.transition {
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}
/*=================================================================*/
.pointer {
    cursor: pointer;
}

/*=================================================================*/
.text-uppercase {
    text-transform: uppercase;
}
.text-underline {
    text-decoration: underline;
}
.shadow {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
}

.w-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.over-hidden {
    overflow: hidden;
}

/*=================================================================*/
.tracking-1 {
    // letter-spacing: 1px;
}
.tracking-2 {
    // letter-spacing: 2px;
}
.tracking--2 {
    // letter-spacing: -2px;
}
/*=================================================================*/
.ml-3xl--10 {
    margin-left: -10px;
}
.mr-3xl--10 {
    margin-right: -10px;
}
.ml-3xl--15 {
    margin-left: -15px;
}
.mr-3xl--15 {
    margin-right: -15px;
}
/*=================================================================*/
.scale-107 {
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.07, 1.07);
    }
}

/*=================================================================*/
.scroll::-webkit-scrollbar-track {
    background-color: #fff;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
    border-radius: 999px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 999px;
}

/*=================================================================*/
.inset-0 {
    inset: 0;
}

.icon-10 {
    img {
        width: 10px;
        height: auto;
    }
}
.icon-12 {
    img {
        width: 12px;
        height: auto;
    }
}
.icon-14 {
    img {
        width: 14px;
        height: auto;
    }
}
.icon-16 {
    img {
        width: 16px;
        height: auto;
    }
}
.icon-18 {
    img {
        width: 18px;
        height: auto;
    }
}
.icon-20 {
    img {
        width: 20px;
        height: auto;
    }
}
.icon-22 {
    img {
        width: 22px;
        height: auto;
    }
}
.icon-24 {
    img {
        width: 24px;
        height: auto;
    }
}
.icon-30 {
    img {
        width: 30px;
        height: auto;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    will-change: opacity;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}

.inset-0 {
    img {
        width: 100%;
        height: 100%;
    }
}
.last-article {
    .article {
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.border-t-ed {
    border-top: 1px solid #ededed;
}
.border-b-ed {
    border-bottom: 1px solid #ededed;
}
.border-t-bd {
    border-top: 1px solid #bdbdbd;
}
.border-b-bd {
    border-bottom: 1px solid #bdbdbd;
}
.border-l-purple-544 {
    border-left: 1px solid #5449bc;
}
.border-b-purple-544 {
    border-bottom: 1px solid #5449bc;
}
.border-r-purple-645 {
    border-right: 1px solid #6453af;
}
.border-b-dotted-a6 {
    border-bottom: 1px dotted #a6aaae;
}
.border-b-34 {
    border-bottom: 1px solid #343434;
}

