.pagination {
    flex-wrap: wrap;

    &-item {
        margin: 4px;

        &.active {
            .pagination-link {
                color: #fff;
                background-color: #544abc;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: #f7f7f7;
        border-radius: 4px;
        &:hover {
            background-color: #f2f2f2;
        }

        img {
            height: 12px;
            width: auto;
        }
    }
}

.breadcrumb-primary {
    &-container {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #e7e7e7;
    }

    &-item {
        &.active {
            .breadcrumb-primary-link {
                border-color: #544abc;
            }
        }
        
    }

    &-link {
        border-bottom: 4px solid transparent;
    }
}
.breadcrumb-secondary {
    &-left {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
    }
    &-item {
        &:first-child {
            .breadcrumb-secondary-link {
                margin-left: -10px;
                margin-right: 5px;
            }
        }

        &:last-child {
            .breadcrumb-secondary-link {
                margin-right: 0;
                &::before {
                    content: none;
                }
            }
        }
    }
    &-link {
        color: #888;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding: 4px 10px 0 10px;

        &::before {
            content: "/";
            position: absolute;
            right: -5px;
            color: #A8A8A8;
        }
    }
}
.ads-right {
    img {
        width: 100%;
    }
}
.see-more {
    &__btn {
        padding: 8px 24px;
        background-color: #544abc;
        border-radius: 999px;
        color: #fff;
        font-size: 14px;

        &:hover {
            color: #fff;
            background-color: #4a42a3;
        }
    }
}
