.pagination {
    flex-wrap: wrap;

    &-item {
        margin: 4px;

        &.active {
            .pagination-link {
                color: #a61b28;
                border-bottom: 1px solid #a61b28;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        &:hover {
            color: #a61b28;
        }

        img {
            height: 20px;
            width: auto;
        }
    }
}

.breadcrumb {
    &-container {
        margin-bottom: 2px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        white-space: nowrap;
    }

    &-item {
        color: #333;

        .breadcrumb-link {
            margin-right: 12px;
            font-weight: 300;
        }

        &:first-child {
            .breadcrumb-link {
                margin-left: -10px;
                margin-right: 8px;
            }
        }

        &:last-child {
            color: #5f3b23;

            .breadcrumb-link::before {
                content: none;
            }
        }
    }

    &-link {
        position: relative;
        display: inline-block;
        padding: 15px 10px 10px;

        &::before {
            content: "|";
            position: absolute;
            right: -5px;
            color: #a8a8a8;
        }
    }
}

.ads-right {
    img {
        width: 100%;
    }
}
