.header {
    z-index: 9999;
    &.sticky {
        .header-bot {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    &-desk {
        background-color: #fff;
        .header-top {
            &__left {
                .logo {
                    img {
                        height: 68px;
                        width: 100%;
                    }
                }
            }
            &__right {
            }
        }

        .header-bot {
            &__left {
                .action-item {
                    padding-left: 20px;
                    padding-right: 20px;
                    border-right: 1px solid rgba($color: #333, $alpha: 0.25);

                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }

            &__center {
                padding-left: 45px;
                padding-right: 45px;
            }

            &__right {
                .companion-item {
                    img {
                        max-height: 39px;
                        width: auto;
                    }
                }
            }
        }
    }

    &-mb {
        &-top {
            .logo {
                img {
                    width: auto;
                    height: 54px;
                }
            }
            .news-mb {
                &__icon {
                    width: 36px;
                    height: 36px;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 20px;
                        height: auto;
                    }
                }
            }
            .bar-mb {
                .icon-bar {
                    width: 36px;
                    height: 36px;
                    border-radius: 2px;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 20px;
                        height: auto;
                    }
                }
            }
            .search-mb {
                &__icon {
                    width: 36px;
                    height: 36px;
                    // border-radius: 999px;
                    background-color: transparent;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 20px;
                        height: auto;
                    }
                }
                .header-search-mb__form {
                    background-color: #fff;
                    height: 54px;
                    position: absolute;
                    top: -100%;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    display: none;
                    &.active {
                        top: 62px;
                        display: block;
                    }
                }
                .header-search-input {
                    padding-right: 3.5rem;
                    &::placeholder {
                        color: #333;
                    }
                }
                .header-search-btn {
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            &__left {
            }

            &__right {
            }
        }
    }
}

.menu {
    &-item {
        &:hover {
            .menu-container {
                display: block;
            }
            .menu-heading__icon {
                transform: rotate(180deg);
            }

            .menu-heading__text {
                background-color: #f5f5f5;
                color: #5449bc;
            }
        }
        &:last-child,
        &:nth-last-child(2) {
            display: inline;
            .menu-container {
                right: 0;
                left: auto;
            }

            .menu-block__dropdown {
                .dropdown-subMenu {
                    left: -100%;
                    right: auto;
                }
            }
        }
        &.active {
            .menu-heading .menu-heading__text {
                background-color: #f5f5f5;
                color: #5449bc;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    &-heading {
        &__text {
        }
        &__icon {
            padding: 2px;
            cursor: pointer;

            img {
                width: 12px;
                height: auto;
            }
        }
    }

    &-container {
        position: absolute;
        width: 280px;
        height: auto;
        left: 0;
        top: 40px;
        background-color: #e0eeff;
        display: none;
        border-radius: 5px;
        z-index: 999;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);

        // &:before {
        //     content: "";
        //     position: absolute;
        //     top: -20px;
        //     left: 0;
        //     right: 0;
        //     height: 20px;
        //     background-color: transparent;
        // }
    }

    &-block {
        &__dropdown {
            color: #212121;
            .dropdown-heading {
            }
            .dropdown-item {
                border-bottom: 1px solid rgba($color: #212121, $alpha: 0.25);
                &:last-child {
                    border-bottom: none;
                }
            }
            .dropdown-link {
                color: #212121;
                padding: 12px 15px;
                display: block;
                font-weight: 300;
            }

            .dropdown-icon {
                padding: 10px;
                cursor: pointer;

                img {
                    width: 10px;
                    height: auto;
                }
            }

            .dropdown-item {
                // position: relative;
                &:hover {
                    background-color: #cedbeb;
                    color: #212121;
                    .dropdown-icon {
                        transform: rotate(180deg);
                    }

                    .dropdown-subMenu {
                        display: block;
                    }
                }
            }

            .dropdown-subMenu {
                display: none;
                font-weight: 300;
                position: absolute;
                right: -100%;
                width: 100%;
                max-width: 300px;
                top: 0;
                background-color: #c2323f;
                border-radius: 5px;
                overflow: hidden;

                .subMenu-item {
                    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.25);
                    &:hover {
                        background-color: #a61b28;
                    }
                }
                .subMenu-link {
                    padding: 8px 12px;
                    display: flex;
                    color: #fff;
                }
            }
        }
    }
}

.sub-menu-mb {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 99999;
    transform: translateX(-100%);
    transition: all 0.2s ease;

    &.active {
        transform: translate(0);
    }

    &__close {
        width: 38px;
        height: 38px;
        border-radius: 8px;
        background-color: #5449bc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        margin-left: auto;

        img {
            width: 20px;
            height: auto;
        }
    }

    &__container {
        background-color: #fff;
        height: calc(100% - 100px);
        max-width: 95%;
        overflow: auto;
        margin: auto;
    }

    &__list {
    }

    &__item {
        .arrow-icon {
            padding: 10px;
            cursor: pointer;

            img {
                width: 16px;
                height: auto;
            }
        }

        &:last-child {
            .sub-menu-mb__heading {
                border-bottom: none;
            }
        }

        &.active {
            .sub-menu-mb__dropdown {
                display: block;
            }

            .arrow-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__heading {
        

    }
}
.overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    will-change: opacity;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}
/* search pc*/
.serach-pc {
    position: relative;
    &.active {
        .serach-pc__form {
            display: flex;
        }
    }
    &__form {
        position: absolute;
        top: 36px;
        right: 0;
        background: #fff;
        padding: 10px;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        display: none;
        .search-input {
            flex: 1;
            width: 400px;
        }
        .search-btn {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            background-color: #5449bc;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20px;
                height: auto;
            }
        }
    }
}
