.block-primary {
    display: flex;
    &__left {
        flex: 1;
        padding-right: 20px;
        max-width: calc(100% - 300px);
        width: 100%;
    }
    &__right {
        flex-shrink: 0;
        max-width: 300px;
        width: 100%;
    }
}

.arrow-slide-primary {
    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        margin-top: 0;
        background: #f2f2f2;
        border-radius: 50%;
        border: 1px solid #f2f2f2;
        color: #212121;
        transform: translateY(-50%);
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background: #544abc;
        border-color: #544abc;
        color: #fff;
    }
    .swiper-button-next {
        right: 10px;
    }
    .swiper-button-prev {
        left: 10px;
    }
    .swiper-button-next:after {
        content: "\279C";
    }
    .swiper-button-prev:after {
        content: "\279C";
        transform: rotate(180deg);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 18px;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        pointer-events: none;
        background: transparent;
        opacity: 0;
    }
}

.ads-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.same-height {
    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .article {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .article-img {
        flex-shrink: 0;
    }

    .article-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.hidden.active {
    display: block;
}

.hidden {
    display: none;
}

.pagi-red {
    .swiper-pagination-bullet {
        background: #d9d9d9;
    }
    .swiper-pagination-bullet-active {
        background: #ec0033;
        width: 10px;
        height: 10px;
    }
}

.heading-primary {
}


.section-primary {
    
}

.section-secondary {
    &__left {
        .box-one {
            .articles {
                display: flex;
                overflow: hidden;

                &.item-2 {
                    .article-two {
                        transform: translateX(-300px);
                    }
                }
            }
            .article {
                width: 64%;
                flex-shrink: 0;
                border-left: 1px solid #fff;
                transition: all 1s ease;

                a {
                    color: #fff;
                }
                
               .article-content {
                height: 76px;
               }

               &:not(.active){
                   .article-img {
                        filter: grayscale(1);
                   }
                   .article-content {
                       
                       &__inner {
                           width: 122px;
                           padding: 15px;
                        }
                    }

                    .article-title {
                        font-size: 16px;
                    }
               }
            }
            .article-one {
                position: relative;
                z-index: 1;
                &.active {
                    
                    ~ .article-three {
                        transform: translateX(-300px);
                    }
                }
            }
            .article-two {
                position: relative;
                z-index: 2;
                .article-content {
                    background-color: #726ac8;
                }
                &.active {
                    transform: translateX(-300px);

                    ~ .article-three {
                        transform: translateX(-300px);
                    }
                }
            }
            .article-three {
                position: relative;
                z-index: 3;
                .article-content {
                    background-color: #948fc8;
                }

                &.active {
                    transform: translateX(-600px);
                }
            }
        }

        .box-two {}

        .box-three {
            .article {
            }
            .article-content {
                position: absolute;
                right: 10px;
                bottom: 20px;
            }
            .article-title {
                a {
                    color: #fff;
                }
            }
            .article-category {
                &__link {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 10px;
                    background-color: #ffea00;
                    font-weight: bold;
                }
            }
        }

        .box-four {}

        .box-five {
            &__right {
                &-content {
                    .articles {
                        max-height: 550px;
                        overflow: auto;
                    }
                }
            }
        }
    }
}

.box-right-one {
    border: 1px solid #cecece;

    &__heading {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
        background: -webkit-linear-gradient(top, #fff, #ddd);
    }

    &__item {
        list-style: circle inside;
    }
}

.section-tertiary {
}

.section-quaternary {
}

.section-quinary {
}

.section-senary {
}

.section-septenary {
}

.section-octonary {
}

.section-nonary {
}
